<div class="topbar">
  <div class="brand">
    <span class="logo-circle">TOC</span>
    <span>ADAS</span>
  </div>
  <div class="navmenu">
    <a href="#" class="active">Trang chu</a>
    <a href="#">Canh bao</a>
    <a href="#">Giam sat</a>
    <a href="#">Mo rong</a>
    <a href="#">Quan ly nguoi dung</a>
    <a href="#">Quan ly quy trinh</a>
    <a href="#">Danh muc</a>
  </div>
  <div class="topbar-right">
    <div class="bell">&#128276;<span class="badge">3</span></div>
    <div class="user">
      <div class="avatar">AD</div>
      <span class="name">Admin</span>
      <span class="caret">&#9660;</span>
    </div>
  </div>
</div>
