# Python
__pycache__/
*.pyc

# Virtual Env
.venv/
venv/

# VSCode
.vscode/

# Models
*.task
*.onnx
*.pt
*.pth

# Logs
logs/
*.log

# Docker
.env

# OS
.DS_Store
Thumbs.db

# Dataset BDD100K
services/lane-service/data/solesensei-bdd100k
services/lane-service/data/solesensei-bdd100k/
services/lane-service/data/solesensei-bdd100k/*
services/lane-service/data/solesensei-bdd100k/**
services/lane-service/data/solesensei-bdd100k.rar
services/lane-service/data/test_videos.rar
services/lane-service/data/test_videos/test_car.mp4
services/lane-service/data/test_videos/test_video.mp4
services/lane-service/runs/